<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href = "@{/CSS/homepage.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
<link th:href="@{https://fonts.googleapis.com/css2?family=Corben&display=swap}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/IMAGES/icon.png}" type="image/x-icon" />
<link
  rel="stylesheet"
  th:href="@{https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css}"
/>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>


    <title>Product Page</title>
</head>

<body>


<div>
<h2>Customer Registration</h2>
<tr>
<div align = "left">
<h3><a th:href="@{'/new'}">Add new</a></h3>
</div>
</tr>
<tr>
<div class="col-sm-5" align = "center">
	<div class="panel-body" align = "center">
	<table class = "table">
		<thead class="thead-dark">
			<tr>
				<th>Pet ID</th>
					<th>Pet type</th>
					<th>Breed</th>
					<th>Age</th>
					<th>Fee</th>
					<th>Edit</th>
					<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pet : ${listpet}">
				<td th:text="${pets.id}">Pet ID</td>
				<td th:text="${pets.pettype}">PetType</td>
				<td th:text="${pets.breed}">Breed</td>
				<td th:text="${pets.age}">Age</td>
				<td th:text="${pets.fee}">Fee</td>
				
				<td>
				<a th:href="@{'/edit/' + ${pets.id}}">Edit</a>
				</td>
				<td>
				<a th:href="@{'/delete/' + ${pets.id}}">Delete</a>
				</td>
			</tr>
			
		</tbody>
		
	</table>
	</div>
</div>
</tr>
</div>


<div class="container-fluid">
    <header id="pageHeader">
         <h2><a th:href="@{/index}">Pet Grooming</a></h2>
        <ul>
            <li><a th:href="@{/index}">HOME</a></li>
            <li><a th:href="@{/#}">ABOUT</a></li>
            <li><a th:href="@{/gallery}">GALLERY</a></li>
            <li><a th:href="@{/services}">SERVICES</a></li>
            <li><a th:href="@{/login}">LOG IN</a></li>
        </ul>
    </header>
</div>





 



<footer id="pageFooter">Pet Grooming 2022</footer>
<script th:src= "@{https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js}"></script>
<script th:src="@{/JS/index.js}"></script>


</body>
</html>