* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html * { 
	font-family: 'Corben', cursive!important;
  font-weight: 400;
  box-sizing: border-box;
	}
	
  body {
    background-color: #f9f6f6!important;
    overflow-x: hidden;
  }
 
#container {
    min-height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.left {
    width: 50vw;
    background-color: #f9f6f6!important;
    color: #6D584F!important;
}

.right {
    width: 50vw;
}

 .resize {
   width: auto;
   height: 80vh;
   display: block;
   object-position: center;
}

#container .left h1 {
  color: #6D584F!important;
  text-align: center!important;
}

#container .left p {
    color: #6D584F!important;
    text-align: center!important;
  }

  #container .left h2 {
      font-family: 'Lobster', cursive!important;
      font-size: 45px;
      cursor: pointer;
      color: #6D584F!important;
      text-decoration: none;
      margin: 0.5rem;
      text-align: center!important;
  }


  main {
    text-align: center;
    position: relative;
  }
  

  
  
 
  .btn-main {
    background-color: #ffebbb;
    color: #fff;
    font-family: 'Corben', cursive;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 165px;
  }
  
  
 /* used grid here */
  footer {
    padding: 20px;
    background-color: #A26367;
  }

 

  #pageFooter {
    grid-area: footer;
    color: #fff;
  }

  header .navbar h2 a {
    font-family: 'Lobster', cursive!important;
      font-size: 1.5rem;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      margin: 0.5rem;
  }

  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #A26367;
    color: white;
  }
  
  .navbar-links {
    height: 100%;
  }
  
  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  
  .navbar-links li:hover {
    background-color: rgba(255,255,255,0.3)!important;
  }
  .navbar-links li:nth-child(2) {
  background-color: rgba(255,255,255,0.3)!important;
  text-decoration: none; 
  color: #fff;
  }
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

     .navbar li {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }

    #container {
    flex-flow: row wrap;
  }

  
  /* part of the code that helps with responsiveness */

  #container .right .resize{
    display: block;
    order: 1;
    width: 100%;
    height: 250px;
  }

  #container .left h1 {
    display: block;
    order: 2;
    width: 100%;
  }

  #container .left h2 {
    display: block;
    order: 2;
    width: 100%;
  }

  #container .left p {
    display: block;
    order: 2;
    width: 100%;
  }

  #container {
    padding: 20px 35px;
  }

  
    .toggle-button {
        display: flex;
    }
  
    .navbar-links {
        display: none;
        width: 100%;
    }
  
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .navbar-links ul li {
        text-align: center;
    }
  
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
  
    .navbar-links.active {
        display: flex;
    }
  }
  