* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html * { 
	color: #fff!important;
	font-family: 'Corben', cursive!important;
  font-weight: 400;
  box-sizing: border-box;
	}
	
  body {
    overflow: hidden;
  }
 
#container {
    min-height: 100vh;
    display: flex;
}


#container2 {
	min-height: 100vh;
    display: flex;
}

.left {
    width: 50vw;
    background-color: #f9f6f6;
    color: #6D584F!important;
}

.right {
    width: 50vw;
    background-color: #fff;
}

 .resize {
    width: 675px;
    height: auto;
}


  main {
    text-align: center;
    position: relative;
  }
  

  
  .jumbotron {
    width: 1200px;
    height: 100vh;
    /* margin: -278px;​ */
    padding: 437px;
    background-size: cover;
    text-align: center!important;
    display: block;
  	margin-left: -234px;
  	margin-right: auto;
 	 width: 40%;
  }
  p {
    color: #6D584F!important;
    text-align: center!important;
  }

  .jumbotron p {
    font-family: 'Corben', cursive!important;
    font-weight: bold;
    line-height: 30px;
    padding-top: 10px;
    text-align: left;
  }

  .jumbotron .containter p {
    color: #6D584F;
  }
  
  
  .jumbotron .btn {
    font-family: 'Corben', cursive;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
  }
  

  .jumbotron .btn a {
    text-decoration: none;
    color: #fff;
  }

  .jumbotron .btn:hover {
    background-color: #ffebbb;
  }
  h1 {
    color: #6D584F!important;
  }
  
  .btn-main {
    background-color: #ffebbb;
    color: #fff;
    font-family: 'Corben', cursive;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 165px;
  }
  
  .containter .btn-main {
    transition: 0.5s;
  }
  
  .btn-main:hover {
    background-color: #b3a78b;
    font-size: 18px;
  }
  
  .btn-default {
    font-family: 'Corben', cursive;;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;  
    margin-bottom: 20px;      
  }
 /* used grid here */
  footer {
    padding: 20px;
    background-color: #A26367;
  }

 

  #pageFooter {
    grid-area: footer;
    color: #fff;
  }

  header .navbar h2 a {
    font-family: 'Lobster', cursive!important;
      font-size: 1.5rem;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      margin: 0.5rem;
  }

  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #A26367;
    color: white;
  }
  
  .navbar-links {
    height: 100%;
  }
  
  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  
  .navbar-links li:hover {
    background-color: rgba(255,255,255,0.3)!important;
  }
  .navbar-links li:nth-child(2) {
  background-color: rgba(255,255,255,0.3)!important;
  text-decoration: none; 
  color: #fff;
  }
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .toggle-button {
        display: flex;
    }
  
    .navbar-links {
        display: none;
        width: 100%;
    }
  
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .navbar-links ul li {
        text-align: center;
    }
  
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
  
    .navbar-links.active {
        display: flex;
    }
  }
  