/* CSS Color Pallete  */
.first-color { 
	background: #e0ffcd; 
}
	
.second-color { 
	background: #fdffcd; 
}

.third-color { 
	background: #ffebbb; 
}

.fourth-color { 
	background: #ffcab0; 
}
/* CSS Color Pallete  */

html * { 
	color: #fff !important;
	font-family: 'Corben', cursive !important;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
	}

  body {
    overflow-x: hidden;
  }
	
li, a, button {
  font-family: 'Corben', cursive;
  font-weight: 500;
  font-size: 1.0rem;
  text-decoration: none;
}

/* 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:-5px 10%;
  background-color: #A26367;
} */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #A26367;
  color: white;
}



.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: rgba(255,255,255,0.3)!important;
}
.navbar-links li:nth-child(1) {
background-color: rgba(255,255,255,0.3)!important;
text-decoration: none; 
color: #fff;
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}



@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar li {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }

  
}














/* Background Styles Only */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: Raleway;
}

html {
  background-color: #DFDFDF;
}



header .navbar h2 a {
  font-family: 'Lobster', cursive!important;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A26367;
  color: white;
}








body {
  background-repeat: no-repeat;
  background-image: url(IMAGES/pets.jpg);
  background-size: cover;
}

html, body {
   
    margin: 0;
    padding: 0;
    font-family: 'Corben', cursive;
    font-weight: 400;
    height: auto;
    background-color: #e0ffcd;
  }
  


  main {
    text-align: center;
    position: relative;
  }
  
  
  
 

  
  .jumbotron {
    width: 1200px;
    height: 100vh;
    margin: auto;
    padding: 50px;
    background-size: cover;
  }
  p {
    color: #fff
  }

  .jumbotron p {
    font-family: 'Corben', cursive;
    font-weight: bold;
    line-height: 30px;
    padding-top: 10px;
    text-align: left;
  }

  .jumbotron .containter p {
    color: #6D584F;
  }
  
  .jumbotron .btn {
    font-family: 'Corben', cursive;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
  }
  

  .jumbotron .btn a {
    text-decoration: none;
    color: #fff;
  }

  .jumbotron .btn:hover {
    background-color: #A26367;;;
  }
  h1 {
    color: #fff;
  }
  
  .btn-main {
    background-color: #A26367;
    color: #fff;
    font-family: 'Corben', cursive;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 165px;
  }
  
  .containter .btn-main {
    transition: 0.5s;
  }
  
  .btn-main:hover {
    background-color: #a28587;
    font-size: 18px;
  }
  
  .btn-default {
    font-family: 'Corben', cursive;;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;  
    margin-bottom: 20px;      
  }
 /* used grid here */
  footer {
    padding: 20px;
    background-color: #A26367;;
  }

  /* header {
    background-color: #A26367;;
  } */

  #pageFooter {
    grid-area: footer;
    color: #fff;
  }

  /* #pageHeader {
    grid-area: header;
    width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    min-width: 100px;
  } */

 










