/* CSS Color Pallete  */
.first-color { 
	background: #e0ffcd; 
}
	
.second-color { 
	background: #fdffcd; 
}

.third-color { 
	background: #A26367; 
}

.fourth-color { 
	background: #ffcab0; 
}
/* CSS Color Pallete  */



body main {
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
   
    margin: 0;
    padding: 0;
    font-family: 'Corben', cursive;
    font-weight: 400;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(IMAGES/pets.jpg);
    /* background-color: #fdffcd; */
  }
  
  
  /* color: #717600;​ */

  .container-fluid {
    width: 100%;
    height: 80px;
    background-color: #A26367;
  }
  
  #pageHeader h2 {
    font-family: 'Corben', cursive;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }

  #pageHeader h2 a {
    color: #fff;
    text-decoration: none;
  }

  #pageHeader ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #pageHeader ul li {
    list-style: none;
  }
  #pageHeader ul li a {
    font-family: 'Corben', cursive;
    color: #fff;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
  }

  #pageHeader ul li:nth-child(4) a{
    color: #6D584F;
  }


  #pageHeader ul li:hover {
    color: #6D584F;
  }

  #pageHeader ul li a:hover {
    color: #6D584F;
  }

  main {
    text-align: center;
    position: relative;
  }
  
  
  
 

  
  .jumbotron {
    width: 1200px;
    height: 100vh;
    margin: auto;
    padding: 50px;
    background-size: cover;
  }
  p {
    color: #fff
  }

  .jumbotron p {
    font-family: 'Corben', cursive;
    font-weight: bold;
    line-height: 30px;
    padding-top: 30px;
  }

  .jumbotron .containter p {
    color: #6D584F
  }
  
  .jumbotron .btn {
    font-family: 'Corben', cursive;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
  }
  

  .jumbotron .btn a {
    text-decoration: none;
    color: #fff;
  }

  .jumbotron .btn:hover {
    background-color: #A26367;
  }
  h1 {
    color: #fff;
  }
  
  .btn-main {
    background-color: #A26367;
    color: #fff;
    font-family: 'Corben', cursive;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .containter .btn-main {
    transition: 0.5s;
  }
  
  .btn-main:hover {
    background-color: #b3a78b;
    font-size: 18px;
  }
  .btn-default {
    font-family: 'Corben', cursive;;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;  
    margin-bottom: 20px;      
  }
 /* used grid here */
 
  


h3 {
    color: #ffcab0;
    font-size: small;
}

.start {
  color: white;
}


.field-group{
  width: 300px;
  float: left;
  padding: 5px;
}
.row {
  width: 980px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.select-label{
  font-size: 16px;
  color: #ffffff;
}


.book {http://127.0.0.1:5501/HTML/idk.html
  margin-top: 43px;
}
.select-field{
  font-family: 'Corben', cursive;
  
  width: 100%;
  outline: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px 15px;
  font-size: 0.86em;
  color: #171717;
  background: #fff;
  background-image: linear-gradient(#fff, #fff),
                      linear-gradient(-135deg, transparent 50%, #A26367 50%),
                      linear-gradient(-225deg, transparent 50%, #A26367 50%),
                      linear-gradient(#A26367 40%, #fff 40%);
  background-repeat: no-repeat;
  background-size: 1px 100%, 50px 40px, 50px 40px, 50px 100%;
  background-position: right 50px center, right bottom, right bottom, right bottom;
  -webkit-appearance: none;
  appearance: none;
  
}

.select-field:hover{
  background-image: linear-gradient(#fff, #fff),
                      linear-gradient(-135deg, transparent 50%, #fff 50%),
                      linear-gradient(-225deg, transparent 50%, #fff 50%),
                      linear-gradient(#fff 40%, #A26367 40%);
}
.select-field:active{
  background-image: linear-gradient(#fff, #fff),
                      linear-gradient(-135deg, transparent 50%, #fff 50%),
                      linear-gradient(-225deg, transparent 50%, #fff 50%),
                      linear-gradient(#fff 40%, #fff 40%);
  color: #A26367;
  border-color: #fff;
  background-color: #fff;
}
.select-field option:checked{
  background-color: #A26367;
}

button {
  font-family: 'Corben', cursive;
  font-size: 16px;
  cursor: pointer;
  padding: 13.5px 50px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #A26367;
  margin-right: 16px;
  margin-top: 30px;
  transition: 500ms ease all;
}

button:hover {
	transform: scale(1.06) perspective(1px);
}

@media only screen and (max-width: 980px) {

  .nav-link {
    transition: 0.7s ease;
  }
  #pageHeader h2 a {
    display: none;
  }
  #pageHeader {
    width: 390px;
    height: 80px;
  }
  
  #pageHeader ul {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #pageHeader ul li {
    list-style: none;
  }
  #pageHeader ul li a {
    font-family: 'Corben', cursive;
    color: #fff;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
    list-style: none;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  
} 




header .navbar h2 a {
  font-family: 'Lobster', cursive!important;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #A26367;
  color: white;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: rgba(255,255,255,0.3)!important;
}
.navbar-links li:nth-child(4) {
background-color: rgba(255,255,255,0.3)!important;
text-decoration: none; 
color: #fff;
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}
