* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 63%, rgba(252,176,69,1) 100%);

}

#myP {
    margin-left: 15px;
}
.signup-wrap {
    width: 500px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.signup-top {
    padding: 40px 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.signup-top::before {
    content:"";
    position: absolute;
    height: 50px;
    bottom: -20px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
    background-color: rgb(245, 76, 76);;
}

.signup-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 76, 76);
    padding: 60px 40px 40px;
    color: #fff;
    border-radius: %;
}
h2 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
    color: rgba(253,29,29,1);
}

h3 {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
ul {
    display:flex;
    margin-top: 16px;
    list-style: none;
}

li {
    margin-right: 40px;
    font-size: 24px;
    cursor: pointer;
}

li:last-child {
    margin-right: 0;
}

i {
    transition: 500ms ease all;
}

i:hover {
    color: #6D1523;
}

.input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

p {
    font-size:11px;
    color: rgb(26, 24, 24);
}

span {
    color: rgba(253,29,29,1);;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
}

input {
    font-size: 14 px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #e4f0f6;
    transition: 500ms ease all;
}

input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #e96b62;
    border-color: #e96b62;
}

button {
    cursor: pointer;
    padding: 15px 60px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    color: #fff; 
    background-color: rgba(253,29,29,1); 
    margin-right: 16px;
    transition: 500ms ease all;
}

button:hover {
    background-color: rgb(214, 37, 37);
    transform: scale(0.98);
}

.custom-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px 20px;
    margin-left: 7px;
  }
  
  .custom-checkbox .label {
    font-size: 14px;
  }
  
  .custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(214, 37, 37);
    display: inline-block;
    border-radius: 3px;
    background: rgb(214, 37, 37) url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
    transition: background-size 0.2s ease;
  }
  
  .custom-checkbox input:checked + .checkmark {
    background-size: 60%;
    transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
  }
  
  .custom-checkbox input {
    display: none;
  }