* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html * { 
	color: #fff!important;
	font-family: 'Corben', cursive!important;
  font-weight: 400;
	}
	
#container {
    min-height: 100vh;
    display: flex;
}

#container2 {
	min-height: 100vh;
    display: flex;
}

.left {
    width: 50vw;
    background-color: #f9f6f6;
    color: #6D584F!important;
}

.right {
    width: 50vw;
    background-color: #fff;
}

 .resize {
    width: 675px;
    height: auto;
}

.container-fluid {
    width: 100%;
    height: 80px;
    background-color: #ffebbb;
  }

  #pageHeader h2 {
    font-family: 'Corben', cursive!important;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }

  #pageHeader h2 a {
    color: #fff;
    text-decoration: none;
  }

  #pageHeader ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #pageHeader ul li {
    list-style: none;
  }
  #pageHeader ul li a {
    font-family: 'Corben', cursive!important;
    color: #fff;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
  }

  #pageHeader ul li:nth-child(2) a{
    color: #6D584F!important;
  }


  #pageHeader ul li:hover {
    color: #6D584F!important;
  }

  #pageHeader ul li a:hover {
    color: #6D584F!important;
  }

  main {
    text-align: center;
    position: relative;
  }
  
  .container-fluid {
    width: 100%;
    height: 80px;
    background-color: #ffebbb;
  }
  
  #pageHeader h2 {
    font-family: 'Corben', cursive!important;
    font-size: 30px;
    color: rgb(224, 59, 59);
    cursor: pointer;
  }

  #pageHeader h2 a {
    color: #fff;
    text-decoration: none;
  }

  #pageHeader ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #pageHeader ul li {
    list-style: none;
  }
  #pageHeader ul li a {
    font-family: 'Corben', cursive!important;
    color: #fff;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
  }
  
 

  
  .jumbotron {
    width: 1200px;
    height: 100vh;
    margin: auto;
    padding: 50px;
    background-size: cover;
    text-align: center!important;
  }
  p {
    color: #6D584F!important;
    text-align: center!important;
  }

  .jumbotron p {
    font-family: 'Corben', cursive!important;
    font-weight: bold;
    line-height: 30px;
    padding-top: 10px;
    text-align: left;
  }

  .jumbotron .containter p {
    color: #6D584F;
  }
  
  
  .jumbotron .btn {
    font-family: 'Corben', cursive;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
  }
  

  .jumbotron .btn a {
    text-decoration: none;
    color: #fff;
  }

  .jumbotron .btn:hover {
    background-color: #ffebbb;
  }
  h1 {
    color: #6D584F!important;
  }
  
  .btn-main {
    background-color: #ffebbb;
    color: #fff;
    font-family: 'Corben', cursive;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 165px;
  }
  
  .containter .btn-main {
    transition: 0.5s;
  }
  
  .btn-main:hover {
    background-color: #b3a78b;
    font-size: 18px;
  }
  
  .btn-default {
    font-family: 'Corben', cursive;;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;  
    margin-bottom: 20px;      
  }
 /* used grid here */
  footer {
    padding: 20px;
    background-color: #ffebbb
  }

  header {
    background-color: #ffebbb
  }

  #pageFooter {
    grid-area: footer;
    color: #fff;
  }

  #pageHeader {
    grid-area: header;
    width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    min-width: 100px;
  }
  
  
 

  
  .supporting,
.rating,
.gallery,
.location {
  margin: auto;
  align-items: center;
  justify-content: center;
  top: 100px;
  
}

.rating h1 {
  color: #707070;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
}
.rating .container h1 {
  color: rgb(6, 6, 6)!important;
}

.rating .container h2 {
  color: #6D584F!important;
  text-align: center;
  font-family: 'Shrikhand', cursive!important;
}
.rating p {
  color: #707070;
  font-weight: 600;
  font-size: 18px;
}
.container2 {
  max-width: 200px;
  margin: 0 auto;
  background-color: #e0ffcd;
}

.clearfix {
  clear: both;
}




.swiper {
  width: 60%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
}

@media only screen and (max-width: 900px) {

  .nav-link {
    transition: 0.7s ease;
  }

  .nav-link:hover {
    color: dodgerblue;
  }
  #pageHeader {
    width: 390px;
    height: 80px;
  }
  
  #pageHeader ul {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #pageHeader ul li {
    list-style: none;
  }
  #pageHeader ul li a {
    font-family: 'Corben', cursive;
    color: #fff;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
    list-style: none;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  
} 

@media(max-width: 768px) {

  .nav-link {
    transition: 0.7s ease;
  }

  .nav-link:hover {
    color: dodgerblue;
  }
    .hamburger {
      display: block;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
      position:fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }

    .nav-item {
      margin: 16px 0;
    }

    .nav-menu.active {
      Left: 0;
    }
}